
.cart-container{
    margin-right: 15px;
    position: relative;
}
.cart-count-style{
    position: absolute;
    z-index: 100;
    color: black;
    left: 45%;
    bottom: 28%;
}
.cart{
    color: #d2d7df;
}
.cart-img{
    width: 20%;
}